* {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: 700;
    font-size: 40px;
}

.lead{
    font-weight: 400;
    font-size: 20px;
    color: #8692A6;
}

.row hr{
    width: 550px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #88909D));
    border: none;
    height: 1px;
}

.btn{
    width: 250px;
    height: 63px;
    font-weight: 600;
    margin-top: 25px;
}

.row, .col{
    padding: 0;
    margin: 0;
}

.col.h-auto .row{
    height: auto;
    margin: 34px;
}

.form-select{
    width: 230px;
}

.cerrar, .cerrar a{
    text-align: end;
    text-decoration: none;
}