*{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
}

.container-fluid{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    width: 95%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.form-select{
    width: 232px;
}

.content{
    justify-content: center;
}

h1{
    font-weight: 600;
    font-size: 30px;
}

.cancel{
    color: blueviolet;
}

.row hr{
    width: 550px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #88909D));
    border: none;
    height: 1px;
}

.lead{
    margin-top: 15px;
    width: 411px;
    font-weight: 400;
    font-size: 18px;
    color: #8692A6;
}

/* Estilos de la tabla*/

.table-container {
    overflow-x: auto;
    overflow-y: auto;
  }
  
  .table-wrapper {
    max-height: 300px; /* ajustar a la altura deseada */
  }

.m{
    margin-bottom: 15px;
    text-align: end;
}
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #eee;
    width: 200px;
    color: #1565D8;
  }

  .id{
    color: black;
  }

  .th1{
    width: 110px;
  }

  .th2{
    width: 50px;
  }


  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
 
  .pagination1{
    font-size: 1rem;
    color: var(--bs-link-color);
    border: 1px solid #1565D8;
    border-radius: 20px;
    padding: 5px;
    list-style: none;
    
    text-align: center;
    font-weight: 600;
  }

  .regresar{
    justify-content: left;
    align-items: start;
    text-align: left;
  }

  .bi{
    font-size: 40px;
    color: #08AD36;
}
 
.f{
  width: 90%;
}