*{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

body{
  /*   height: 100vh;
    width: 550px;
    background: linear-gradient(135deg, rgba(141, 92, 246, 1), rgba(21, 101, 216, 0.8)); */
}

.container-fluid{
    padding: 40px;
    background-color: #c21d1d;
    width: 65%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    /* border-radius: 15px;
    box-shadow: 20px 40px 25px rgba(0, 0, 0, 0.15); */
}

.form-control,.form-select{
    width: 426px;
}

.content{
    justify-content: center;
}

h1{
    font-weight: 700;
}

.cancel{
    color: blueviolet;
}

.row hr{
    width: 550px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #88909D));
    border: none;
    height: 1px;
}

.lead{
    margin-top: 15px;
    width: 411px;
    font-weight: 400;
    font-size: 18px;
    color: #8692A6;
}
